* {
  font: 1em/1.5 sans-serif;
  color: white;
  margin: 0;
  background: grey;
}

p {
  font-size: 1.8em;
}

.global-wrapper {
  display: flex;
  flex-direction: column;
  height: 1000px;
}

header {
  display: inline;
  text-align: center;
}

h1 {
  font-size: 3em;
}

.play-area {
  position: relative;
  width: 100%;
  height: 700px;
  background: lightblue;
}

footer {
  background: black;
  text-align: center;
  height: 100%;
}

footer a, footer p {
  background: black;
}


/*Phone Media Queries*/
@media screen and (orientation: portrait) {
  .play-area {
    height: 500px;
  }
}
@media screen and (orientation: landscape) {
  .play-area {
    height: 300px;
  }
}
